<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {margin:0;padding:0;}
    .container {width: 100%;box-sizing: border-box;padding: 10px;}
    .container ul {padding-top: 10px;}
    .container ul li {word-wrap: break-word;border-bottom: 1px solid #999;padding: 10px;}
    .container ul li p {line-height: 30px;}
    .container ul li p.error span {color: red;}
    .container ul li p span {color: green;}
  </style>
</head>
<body>
  <div class="container">
    <ul>
      {% for item in result %}
        {% if item.diff.length > 0%}
        <li>
          <h4>{{loop.index}}、{{loop.key}}</h4>
          <p><span>js Methods({{item.jsMethod.length}})</span>: {{ item.jsMethod }}</p>
          <p><span>wxml Methods({{item.wxmlMethod.length}})</span>: {{ item.wxmlMethod }}</p>
          <p class="error"><span>js文件有，但wxml没有引用({{item.diff.length}})</span>: {{ item.diff }}</p>
          <!-- <p><span>wxml有引用，但js没定义</span>: {{ item.diff }}</p> -->
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</body>
</html>